:host {
  --background-color: white;
  --font-color: black;
}

:host.dark {
  --background-color: black;
  --font-color: white;
}

:host {
  display: block;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
}

:host > div {
  margin: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
