<h2 *ngIf="journeyId$ | async as journeyId">
  {{ "booking.title" | translate: { id: journeyId } }}
</h2>
<div class="booking-options">
  <div>
    <label>{{ "booking.reserveSeatQuestion" | translate }}</label>
    <input type="checkbox" [(ngModel)]="reserveSeat" />
  </div>
  <div>
    <label>{{ "booking.firstClassQuestion" | translate }}</label>
    <input type="checkbox" [(ngModel)]="firstClass" />
  </div>
</div>

<div class="booking-actions">
  <button (click)="book()">{{ "booking.bookAction" | translate }}</button>
</div>
