<ul *ngIf="bookings.length; else noBookings">
  <li *ngFor="let booking of bookings">
    <p>{{ "booking-list.booking" | translate }} {{ booking.id }}</p>
    <p>{{ "booking-list.journey" | translate }} {{ booking.journeyId }}</p>
    <p>
      {{ "booking-list.reserveSeat" | translate }}:
      {{ booking.options.reserveSeat }}
    </p>
    <p>
      {{ "booking-list.firstClass" | translate }}:
      {{ booking.options.firstClass }}
    </p>
  </li>
</ul>
<ng-template #noBookings>
  <p>{{ "booking-list.noBookings" | translate }}</p>
  <section>
    <p>SPECIAL OFFER FOR PEOPLE WITHOUT BOOKINGS</p>
    <p>Go from Buxtehude to Bielefeld for just 12€!</p>
    <p><a routerLink="/bookings/journey/42">Book special offer now</a></p>
  </section>
</ng-template>
